body {
    font-family: sans-serif;
}

div.webPage {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

table.messageTable {
    width: 500px;
}

table.messageTable tr td {
    background-color: lightgray;
    border: 5px solid lightgray;
}

textarea.tweetTextarea {
    width: 400px;
    height: 100px;
}

span.userName {
    font-weight: bold;
}

span.small {
    font-size: 80%;
}

label.error {
    color: red;
}

input.error {
    background-color: #ffcccc;
}

div.errors {
    background-color: #ffcccc;
    border: 2px solid red;
}

div.logout {
    background-color: #ccffcc;
    border: 2px solid green;
}