body {
    font-family: sans-serif;
}

div.webPage {
    max-width: 1000px;
    margin: 0 auto;
}

div.centered {
    text-align: center;
}

label.error {
    color: red;
}

input.error {
    background-color: #ffcccc;
}

div.errors {
    background-color: #ffcccc;
    border: 2px solid red;
}
